<section id="about" class="background1 section-padding">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 section-title text-center">
        <h2>About</h2>
        <span class="section-divider"></span>
      </div><!-- /.column -->
    </div><!-- /.row -->
    <div class="row mb15">
      <div class="col-sm-5 leftReveal">
        <h5 class="heading-1 mb20">Our Trade</h5>
        <h3 class="mb15 no-margin-top">We love writing code <br>And we are really really good at it...</h3>
        <p class="no-margin text-small">Code is our thing. It's what we do best, and we enjoy doing it. We take pride in what we do, and personally garuntee
          you will receive a product that you absolutley love, or you don't pay for it. Simple. We do this because we take pride in what we do, we are good
          at it, and we'll give you a great product!</p>
      </div><!-- /.column -->
      <div class="col-sm-7 mt30-xs rightReveal">
        <h5 class="heading-1 mb20">How we started it</h5>
        <span class="icon-handle-streamline-vector logo-about"></span>
        <p>We started by just writing code. Lots of it. We love writing code, and still do. We do it all day every day.</p>
      </div><!-- /.column -->
    </div><!-- /.row -->
    <div class="row mb30">
      <div class="col-sm-9 leftReveal">
        <h5 class="heading-1 mb20">The Skinny -</h5>
        <p class="lead no-margin">
          Well give you a better product than anybdoy else,
          before you even pay us, and show it to you before you pay, to make sure you love it.
          We want you to love it. And we put our money where our mouth is. We have little overhead,
          so don't pay any other big design / marketing firm TONS of money, when we can give you a better
          product for a quarter of the cost.
        </p>
      </div><!-- /.column -->
    </div><!-- /.row -- -->
  </div><!-- /.container -->
</section><!-- /.section -->