<section id="technologies" class="section-padding parallax-window" data-parallax="scroll" data-image-src="<%= image_url('small-slider2.jpg') %>">
	<div class="container">
		<ul class="clients-grid grid-6 nobottommargin clearfix">
			<li><i class="devicon-amazonwebservices-plain-wordmark colored"></i></li>
			<li><a href="http://logofury.com"><img src="images/clients/2.png" alt="Clients"></a></li>
			<li><a href="http://logofaves.com/2014/03/grabbt/"><img src="images/clients/3.png" alt="Clients"></a></li>
			<li><a href="http://logofaves.com/2014/01/ladera-granola/"><img src="images/clients/4.png" alt="Clients"></a></li>
			<li><a href="http://logofaves.com/2014/02/hershel-farms/"><img src="images/clients/5.png" alt="Clients"></a></li>
			<li><a href="http://logofury.com/logo/food-fight-radio.html"><img src="images/clients/6.png" alt="Clients"></a></li>
			<li><a href="http://logofury.com"><img src="images/clients/7.png" alt="Clients"></a></li>
			<li><a href="http://logofury.com/logo/up-travel.html"><img src="images/clients/8.png" alt="Clients"></a></li>
			<li><a href="http://logofury.com/logo/caffi-bardi.html"><img src="images/clients/9.png" alt="Clients"></a></li>
			<li><a href="http://logofury.com/logo/bignix-design.html"><img src="images/clients/10.png" alt="Clients"></a></li>
			<li><a href="http://logofury.com/"><img src="images/clients/11.png" alt="Clients"></a></li>
			<li><a href="http://logofury.com/"><img src="images/clients/12.png" alt="Clients"></a></li>
		</ul>
	</div><!-- /.container -->
</section><!-- /.section -->