<section id="ourcount" class="section-padding parallax-window" data-parallax="scroll" data-image-src="<%= image_url('small- slider1.jpg') %>">
	<div class="container">
		<div class="row mb30">
			<div class="section-title col-sm-8 col-sm-offset-2 col-lg-6 col-lg-offset-3 text-center">
				<h2>The Count</h2>
				<span class="section-divider mb15"></span>
				<p class="no-margin">By the number.</p>
			</div><!-- /.column -->
		</div><!-- /.row -->
		
		<div class="row">
			<div class="col-sm-4 col-md- item leftReveal">
				<div class="circle-hold">
					<i class="ion-coffee"></i>
			</div><!-- /.column -->
			
			<div class="col-sm-4 col-md-2 item mt30-xs rightReveal">
				<div class="circle-hold">
			</div><!-- /.column -->
			
			<div class="col-sm-4 col-md-2 item mt30-xs mt30-sm leftReveal">
					<i class="ion-android-people"></i>
			</div><!-- /.column -->
			
			<div class="col-sm-4 col-md-2 item mt30-xs mt30-sm rightReveal">
					<i class="ion-android-restaurant"></i>
			</div><!-- /.column -->
		</div><!-- /.row -->
		
		<div class="row">
			<div class="col-sm-4 col-md- item leftReveal">
					<i class="ion-coffee"></i>
			</div><!-- /.column -->
			
			<div class="col-sm-4 col-md-2 item mt30-xs rightReveal">
					<i class="ion-code"></i>
			</div><!-- /.column -->
			
			<div class="col-sm-4 col-md-2 item mt30-xs mt30-sm leftReveal">
					<i class="ion-android-people"></i>
			</div><!-- /.column -->
			
			<div class="col-sm-4 col-md-2 item mt30-xs mt30-sm rightReveal">
				<i class="ion-android-restaurant"></i>
			</div><!-- /.column -->
			
		</div><!-- /.row -->
	</div><!-- /.container -->
</section><!-- /.section -->