<!-- Begin Quote Carousel -->
<div id="carousel" class="testimonial-carousel pt40 pb20">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1 text-center">
        <span class="pe-7s-close heading-3-icon"></span>
        <h2 class="heading-3">How it works</h2>
        <div class="fade-quote-carousel carousel slide" id="quote-carousel" data-ride="carousel" data-interval="3000">
          <!-- Carousel indicators -->
          <ol class="carousel-indicators">
            <li data-target="#quote-carousel" data-slide-to="0" class="active"></li>
            <li data-target="#quote-carousel" data-slide-to="1"></li>
            <li data-target="#quote-carousel" data-slide-to="2"></li>
          </ol>
          <!-- Carousel items -->
          <div class="carousel-inner">
            <div class="active item">
              <blockquote>
                <p>Step 1 - Meet in Person, for Coffee, a Beer or you can Video Chat us!</p>
              </blockquote>
            </div>
            <div class="item">
              <blockquote>
                <p>Step 2 - Based on your specifications and budget,  we take your dream, and write the Devlopment Plan</p>
              </blockquote>
            </div>
            <div class="item">
              <blockquote>
                <p>Using the AGILE Methodology, we work in Sprints. <br>
                  We, together, choose a number of hours per sprint. </p>
              </blockquote>
            </div>
            <div class="item">
              <blockquote>
                <p>Step 3 - After each sprint, we get togethor to demo you our work, and verify that it meet or exceeds
                  all your expectations, then move onto the next phase of development! </p>
              </blockquote>
            </div>

          </div>

        </div><!-- /.carousel -->
      </div><!-- /.column -->
    </div><!-- /.row -->
  </div><!-- /.container -->
</div><!-- /.carousel -->
<!-- End Quote Carousel -->
