<section id="contact" class="background2 section-padding">
  <div class="container">
    <div class="row mb30">
      <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3 section-title text-center">
        <h2>Contact</h2>
        <span class="section-divider mb15"></span>
        <p class="no-margin scaleReveal">Contact us using the contact form below </p>
	      <p class="no-margin scaleReveal">Ready to grab a coffee? Call or text us at (209) 643-5638 to discuss your next project</p>

      </div><!-- /.column -->
    </div><!-- /.row -->
    <div class="row">
      <div class="col-sm-5 col-lg-4">
        <h5 class="heading-1 mb20">Visit Us</h5>
        <h4 class="mb15">Tampa, Florida</h4>
	      <h5 class="heading-1 mb20">Contact Us</h5>
        <p class="text-xs-small mb5"><strong class="text-switch">Email:</strong> blue.helmet.dev@gmail.com</p>
        <p class="text-xs-small mb5"><strong class="text-switch">Phone:</strong> +1 (209) 643-5638</p>
      </div><!-- /.column -->
      <div class="col-sm-6 col-lg-7 mt30-xs">
        <%= render 'main/messageForm' %>
      </div><!-- /.column -->
    </div><!-- /.row -->
  </div><!-- /.container -->
</section><!-- /.section -->