<!-- Begin Hello Intro -->
<div id="hello-intro" class="pt60 pb60">
  <div class="container">
    <div class="row">
      <div class="col-lg-2 col-sm-3">
        <h2 class="no-margin rotateLeftReveal">Hello.</h2>
      </div>
      <div class="col-lg-10 col-sm-9 mt30-xs">
        <h3 class="no-margin rightReveal">We are a team of Software Engineers, Web Developers and
          Brand / Marketing Guru's <strong>ready to parse your Dreams, and compile them into Code</strong></h3>
      </div>
    </div><!-- /.row -->
  </div><!-- /.container -->
</div><!-- /.div -->
<!-- End Hello Intro -->