<!-- Begin Intro -->
<section id="ideology">

  <!-- Begin Hello Intro -->
  <div id="hello-intro" class="pt60 pb60">
    <div class="container">
      <div class="row">
        <div class="col-lg-2 col-sm-3">
          <h2 class="no-margin rotateLeftReveal">Hello.</h2>
        </div>
        <div class="col-lg-10 col-sm-9 mt30-xs">
          <h3 class="no-margin rightReveal">
            We are a team of Software Engineers, Web Developers, Designers and Social Media Experts.
            <strong> We will deliver you a beautiful product, garunteed..</strong>.</h3>
        </div>
      </div><!-- /.row -->
    </div><!-- /.container -->
  </div><!-- /.div -->
  <!-- End Hello Intro -->

  <!-- Begin Our Process Title -->
  <div id="our-process-title" class="pt30 pb30">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h4 class="no-margin">Our Ideology</h4>
        </div>
      </div><!-- /.row -->
    </div><!-- /.container -->
  </div><!-- /.div -->
  <!-- End Our Process Title -->

  <!-- Begin Our Process -->
  <div id="our-process">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-4 col-md-4 col-lg-4 process-box text-center pt50 pb50">
          <div class="leftReveal">
            <div class="process-intro">
              <h3 class="process-number">01</h3>
              <div><span class="process-icons pe-7s-users rotateBottomReveal"></span></div>
              <h2>Honesty and <br>Communication</h2>
            </div>
            <div class="process-content">
              <div><span class="process-icons pe-7s-users"></span></div>
              <h2 class="mt15 mb20"><br>Communication</h2>
              <p class="no-margin">Tell us your budget, and we will make it happen. No BS!</p>
            </div>
          </div><!-- /.animation -->
        </div><!-- /.column -->
        <div class="col-sm-4 col-md-4 col-lg-4 process-box text-center pt50 pb50">
          <div class="bottomReveal">
            <div class="process-intro">
              <h3 class="process-number">02</h3>
              <div><span class="process-icons pe-7s-diamond rotateBottomReveal"></span></div>
              <h2>Quality<br>Design Work</h2>
            </div>
            <div class="process-content">
              <div><span class="process-icons pe-7s-diamond"></span></div>
              <h2 class="mt15 mb20">Quality<br>Design Work</h2>
              <p class="no-margin">You tell us what you want. We show you some design options.
                Then we deliver the best website & marketing campaign possible!</p>
            </div>
          </div><!-- /.animation -->
        </div><!-- /.column -->
        <div class="col-sm-4 col-md-4 col-lg-4 process-box text-center pt50 pb50 no-border-right">
          <div class="rightReveal">
            <div class="process-intro">
              <h3 class="process-number">03</h3>
              <div><span class="process-icons pe-7s-rocket rotateBottomReveal"></span></div>
              <h2>Rocketship<br>Development</h2>
            </div>
            <div class="process-content">
              <div><span class="process-icons pe-7s-rocket"></span></div>
              <h2 class="mt15 mb20">Quality<br>Design</h2>
              <p class="no-margin">Utilizing products like Bootstrap, Ruby on Rails and the latest web trends, we will
                deliver you
                the best website & marketing campaign, in the blink of an eye.</p>
            </div>
          </div><!-- /.animation -->
        </div><!-- /.column -->
      </div><!-- /.row -->
    </div><!-- /.container -->
  </div><!-- /.div -->
  <!-- End Our Process -->
</section><!-- /.section -->