<section id="ourcount" class="section-padding parallax-window" data-parallax="scroll" data-image-src="<%= image_url('small-slider1.jpg') %>">
  <div class="container">
    <div class="row mb30">
      <div class="section-title col-sm-8 col-sm-offset-2 col-lg-6 col-lg-offset-3 text-center">
        <h2>The Count</h2>
        <span class="section-divider mb15"></span>
        <p class="no-margin">By the numbers.</p>
      </div><!-- /.column -->
    </div><!-- /.row -->
    <div class="row">
      <div class="col-sm-6 col-md-3 item leftReveal">
        <div class="circle-hold">
          <i class="ion-coffee"></i>
        </div>
        <h2 class="timer mb5" data-from="1" data-to="581" data-refresh-interval="20">1</h2>
        <p class="no-margin">Programs written</p>
      </div><!-- /.column -->
      <div class="col-sm-6 col-md-3 item mt30-xs rightReveal">
        <div class="circle-hold">
          <i class="ion-code"></i>
        </div>
        <h2 class="timer mb5" data-from="1" data-to="4725381" data-refresh-interval="20">1</h2>
        <p class="no-margin">Lines of code</p>
      </div><!-- /.column -->
      <div class="col-sm-6 col-md-3 item mt30-xs mt30-sm leftReveal">
        <div class="circle-hold">
          <i class="ion-android-people"></i>
        </div>
        <h2 class="timer mb5" data-from="1" data-to="3781" data-refresh-interval="20">1</h2>
        <p class="no-margin">Redbulls</p>
      </div><!-- /.column -->
      <div class="col-sm-6 col-md-3 item mt30-xs mt30-sm rightReveal">
        <div class="circle-hold">
          <i class="ion-android-restaurant"></i>
        </div>
        <h2 class="timer mb5" data-from="1" data-to="562" data-refresh-interval="20">1</h2>
        <p class="no-margin">Cups of Coffee</p>
      </div><!-- /.column -->
    </div><!-- /.row -->
  </div><!-- /.container -->
</section><!-- /.section -->