<!-- Services -->
<div id="our-process">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-4 col-md-4 col-lg-4 process-box text-center pt50 pb50">
        <div class="leftReveal">
          <div class="process-intro">
            <h3 class="process-number">01-Dev</h3>
            <div><span class="process-icons pe-7s-users rotateBottomReveal"></span></div>
            <h2>Mobile<br></h2>
          </div>
          <div class="process-content">
            <div><span class="process-icons pe-7s-users"></span></div>
            <h2 class="mt15 mb20">Mobile App <br>Development</h2>
            <p class="no-margin">Native iOS and Android App Development.
              Apps written for use on Phones, Tablets, Watches, TV's, Refrigerators etc...</p>
          </div>
        </div><!-- /.animation -->
      </div><!-- /.column -->
      <div class="col-sm-4 col-md-4 col-lg-4 process-box text-center pt50 pb50">
        <div class="bottomReveal">
          <div class="process-intro">
            <h3 class="process-number">02-Dev</h3>
            <div><span class="process-icons pe-7s-diamond rotateBottomReveal"></span></div>
            <h2>Software<br></h2>
          </div>
          <div class="process-content">
            <div><span class="process-icons pe-7s-diamond"></span></div>
            <h2 class="mt15 mb20">Desktop + Web<br> Development</h2>
            <p class="no-margin">Software Engineers with years of experience Developing Enterprise
            Software.</p>
          </div>
        </div><!-- /.animation -->
      </div><!-- /.column -->
      <div class="col-sm-4 col-md-4 col-lg-4 process-box text-center pt50 pb50 no-border-right">
        <div class="rightReveal">
          <div class="process-intro">
            <h3 class="process-number">03-AD</h3>
            <div><span class="process-icons pe-7s-rocket rotateBottomReveal"></span></div>
            <h2>Marketing<br></h2>
          </div>
          <div class="process-content">
            <div><span class="process-icons pe-7s-rocket"></span></div>
            <h2 class="mt15 mb20">Social Media + Marketing Campaigns</h2>
            <p class="no-margin">We are pro's at Social Media.
              Let's introduce you to the world.</p>
          </div>
        </div><!-- /.animation -->
      </div><!-- /.column -->
    </div><!-- /.row -->
  </div><!-- /.container -->
</div><!-- /.div -->
<!-- End Our Process -->