<section id="timeline" class="background2 section-padding-top">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 section-title text-center">
        <h2>Timeline</h2>
        <span class="section-divider"></span>
      </div><!-- /.column -->
    </div><!-- /.row -->
    <div class="row">
      <div class="col-lg-12">
        <ul class="timeline pb80">

          <!-- Item 1 -->
          <li>
            <div class="timeline-image scaleReveal" data-sr-id="48" style="; visibility: visible;  -webkit-transform: translateY(0) scale(1); opacity: 1;transform: translateY(0) scale(1); opacity: 1;-webkit-transition: -webkit-transform 1.5s cubic-bezier(0.6, 0.2, 0.1, 1) 0.05s, opacity 1.5s cubic-bezier(0.6, 0.2, 0.1, 1) 0.05s; transition: transform 1.5s cubic-bezier(0.6, 0.2, 0.1, 1) 0.05s, opacity 1.5s cubic-bezier(0.6, 0.2, 0.1, 1) 0.05s; "><img alt="" class="img-circle img-responsive" src="images/timeline-1.jpg"></div>
            <div class="timeline-panel leftReveal" data-sr-id="19" style="; visibility: visible;  -webkit-transform: translateX(0) scale(1); opacity: 1;transform: translateX(0) scale(1); opacity: 1;-webkit-transition: -webkit-transform 1.5s cubic-bezier(0.6, 0.2, 0.1, 1) 0.05s, opacity 1.5s cubic-bezier(0.6, 0.2, 0.1, 1) 0.05s; transition: transform 1.5s cubic-bezier(0.6, 0.2, 0.1, 1) 0.05s, opacity 1.5s cubic-bezier(0.6, 0.2, 0.1, 1) 0.05s; ">
              <div class="timeline-heading">
                <h5 class="heading-1 mb15">2011</h5>
                <h4 class="subheading">Kaloidis Technologies (the name we had before Blue Helmet), was born!</h4>
              </div>
              <div class="timeline-body">
                <p>At The University of Hartford, in Quad 5, an idea for better software and
                better software developers, came to fruition when we launched Kaloidis Tech. We
                focused on everything from our traditional software and web development, to new
                web-app ideas, to even services like PC Repair and Virus Removal.</p>
              </div>
            </div>
          </li>

          <!-- Item 2 -->
          <li class="timeline-inverted">
            <div class="timeline-image scaleReveal" data-sr-id="49" style="; visibility: visible;  -webkit-transform: translateY(0) scale(1); opacity: 1;transform: translateY(0) scale(1); opacity: 1;-webkit-transition: -webkit-transform 1.5s cubic-bezier(0.6, 0.2, 0.1, 1) 0.05s, opacity 1.5s cubic-bezier(0.6, 0.2, 0.1, 1) 0.05s; transition: transform 1.5s cubic-bezier(0.6, 0.2, 0.1, 1) 0.05s, opacity 1.5s cubic-bezier(0.6, 0.2, 0.1, 1) 0.05s; "><img alt="" class="img-circle img-responsive" src="images/timeline-2.jpg"></div>
            <div class="timeline-panel rightReveal" data-sr-id="30" style="; visibility: visible;  -webkit-transform: translateX(0) scale(1); opacity: 1;transform: translateX(0) scale(1); opacity: 1;-webkit-transition: -webkit-transform 1.5s cubic-bezier(0.6, 0.2, 0.1, 1) 0.05s, opacity 1.5s cubic-bezier(0.6, 0.2, 0.1, 1) 0.05s; transition: transform 1.5s cubic-bezier(0.6, 0.2, 0.1, 1) 0.05s, opacity 1.5s cubic-bezier(0.6, 0.2, 0.1, 1) 0.05s; ">
              <div class="timeline-heading">
                <h5 class="heading-1 mb15">Spring 2013</h5>
                <h4 class="subheading">We seperately entered the corporate world!</h4>
              </div>
              <div class="timeline-body">
                <p>The two senior engineers at Blue Helmet start their careers in the corporate software development world, and thrive.
                  We bring the same responsibility, pride, effort and skills we learned in the corporate world, to our clients in the consulting world,
                  here at Blue Helmet.
                </p>
              </div>
            </div>
          </li>

          <!-- Item 3 -->
          <li>
            <div class="timeline-image scaleReveal" data-sr-id="50" style="; visibility: visible;  -webkit-transform: translateY(0) scale(1); opacity: 1;transform: translateY(0) scale(1); opacity: 1;-webkit-transition: -webkit-transform 1.5s cubic-bezier(0.6, 0.2, 0.1, 1) 0.05s, opacity 1.5s cubic-bezier(0.6, 0.2, 0.1, 1) 0.05s; transition: transform 1.5s cubic-bezier(0.6, 0.2, 0.1, 1) 0.05s, opacity 1.5s cubic-bezier(0.6, 0.2, 0.1, 1) 0.05s; "><img alt="" class="img-circle img-responsive" src="images/timeline-3.jpg"></div>
            <div class="timeline-panel leftReveal" data-sr-id="20" style="; visibility: visible;  -webkit-transform: translateX(0) scale(1); opacity: 1;transform: translateX(0) scale(1); opacity: 1;-webkit-transition: -webkit-transform 1.5s cubic-bezier(0.6, 0.2, 0.1, 1) 0.05s, opacity 1.5s cubic-bezier(0.6, 0.2, 0.1, 1) 0.05s; transition: transform 1.5s cubic-bezier(0.6, 0.2, 0.1, 1) 0.05s, opacity 1.5s cubic-bezier(0.6, 0.2, 0.1, 1) 0.05s; ">
              <div class="timeline-heading">
                <h5 class="heading-1 mb15">May 2016</h5>
                <h4 class="subheading">We become Blue Helmet and move to Tampa</h4>
              </div>
              <div class="timeline-body"> <p>
                The decision was between Las Vegas and Tampa... Vegas is a great place - but the business opportunities that we discovered in Tampaa far exceeded
                those we hoped to find in Vegas. Tampa is our new home and Blue Helmet Software is our new name.
              </p>
              </div>
            </div>
          </li>

          <!-- Item 4 -->
          <li class="timeline-inverted">
            <div class="timeline-image scaleReveal" data-sr-id="51" style="; visibility: visible;  -webkit-transform: translateY(0) scale(1); opacity: 1;transform: translateY(0) scale(1); opacity: 1;-webkit-transition: -webkit-transform 1.5s cubic-bezier(0.6, 0.2, 0.1, 1) 0.05s, opacity 1.5s cubic-bezier(0.6, 0.2, 0.1, 1) 0.05s; transition: transform 1.5s cubic-bezier(0.6, 0.2, 0.1, 1) 0.05s, opacity 1.5s cubic-bezier(0.6, 0.2, 0.1, 1) 0.05s; "><img alt="" class="img-circle img-responsive" src="images/timeline-4.jpg"></div>
            <div class="timeline-panel rightReveal" data-sr-id="31" style="; visibility: visible;  -webkit-transform: translateX(0) scale(1); opacity: 1;transform: translateX(0) scale(1); opacity: 1;-webkit-transition: -webkit-transform 1.5s cubic-bezier(0.6, 0.2, 0.1, 1) 0.05s, opacity 1.5s cubic-bezier(0.6, 0.2, 0.1, 1) 0.05s; transition: transform 1.5s cubic-bezier(0.6, 0.2, 0.1, 1) 0.05s, opacity 1.5s cubic-bezier(0.6, 0.2, 0.1, 1) 0.05s; ">
              <div class="timeline-heading">
                <h5 class="heading-1 mb15">July 2016</h5>
                <h4 class="subheading">We celebrate about 5 years of Software Development</h4>
              </div>
              <div class="timeline-body">
                <p>We love writing code, and we are good at it. Business has started to really really thrive, and we have hired a bunch of consultants that we
                tap on a need basis. This is the face of the new Software Development Company. We are flexible, have little overhead, and can scale our employee
                size up and down based on the business opportunities we discover.</p>
              </div>
            </div>
          </li>
        </ul>
      </div><!-- /.column -->
    </div><!-- /.row -->
  </div><!-- /.container -->
</section>