<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @template_category.name %>
</p>

<%= link_to 'Edit', edit_template_category_path(@template_category) %> |
<%= link_to 'Back', template_categories_path %>
