<!-- Item 1 -  web -->
<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
  <div class="services-box leftReveal">
    <span class="pe-7s-airplay services-icon"></span>
    <h3 class="service-name">1. Web Development</h3>
    <p class="text-small">Ruby on Rails, Java, PHP, NodeJS, React, Ember. Frameworks like Bootstrap, Magento, Shopify, Wordpress
      <!--<button type="button" class="btn btn-default mt10" data-toggle="modal" data-target="#item1-services">Info</button>-->
  </div>
</div><!-- /.column -->
<!-- Item 1 Modal -->
<div class="modal fade" id="item1-services" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span class="ion-ios-close-empty"></span>
        </button>
        <span class="pe-7s-airplay services-icon-2"></span>
        <h4 class="service-title">Web Design</h4>
      </div>
      <div class="modal-body">
        <p>No, thank ye, Bunger, said the English Captain, "he's welcome to the arm he has, since I can't help it, and didn't know him then; but not to another one. No more White Whales for me; I've lowered for him once.</p>
        <h5 class="heading-1 modal-heading mb20">Why us</h5>
        <p>"Well, then," interrupted Bunger, "give him your left arm for bait to get the right. Do you know, gentlemen"—very gravely and mathematically bowing to each Captain in succession—"Do you know, gentlemen, that the digestive organs of the whale are so inscrutably constructed by Divine Providence, that it is quite impossible for him to completely digest even a man's arm? And he knows it too.</p>
        <h5 class="heading-1 modal-heading mb20">Focusing</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed.</p>
        <h5 class="heading-1 modal-heading mb20">Professionals</h5>
        <p class="no-margin-bottom">"Good God!" cried the English Captain, to whom the question was put. "What's the matter? He was heading east, I think.—Is your Captain crazy?" whispering Fedallah. Phasellus pulvinar lacinia elit nec tristique.</p>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->